@font-face {
  font-family: "Montserrat";
  src: url("C:/Users/Дмитрий/Desktop/JS/museum_stage1/bam6ycha-JSFE2021Q3/src/assets/Montserrat-Medium.ttf");
  src: url("C:/Users/Дмитрий/Desktop/JS/museum_stage1/bam6ycha-JSFE2021Q3/src/assets/Montserrat-Regular.ttf");
  src: url("C:/Users/Дмитрий/Desktop/JS/museum_stage1/bam6ycha-JSFE2021Q3/src/assets/Montserrat-SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
  unicode-range: u+0020-2044;
}
