@font-face {
  font-family: "Montserrat";
  src: url("H:/momentum/bam6ycha-JSFE2021Q3/src/assets/fonts/Montserrat-Medium.ttf");
  src: url("H:/momentum/bam6ycha-JSFE2021Q3/src/assets/fonts/Montserrat-Regular.ttf");
  src: url("H:/momentum/bam6ycha-JSFE2021Q3/src/assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
  unicode-range: u+0020-2044;
}
