*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
}
button {
  cursor: pointer;
}
/*!------------------------------wrapper-----------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1440px;
  margin: 0px auto;
}
/*!----------------------------- header------------------*/
.header-wrapper {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 50;
  min-height: 150px;
  background-color: #030303;
}
.header-content-wrapper {
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-logo_style {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-logo-ico > img {
  max-width: 100%;
  margin-right: 25px;
}
.logo {
  margin: 61px 460px 58px 0px;
}
.header-navigation__list {
  display: flex;
  flex-wrap: wrap;
}
.header-navigation__list_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-navigation__list_item > a {
  color: #ffffff;
  text-decoration: none;
  margin: 27.5px;
}
.header-navigation__list_item:last-child > a {
  margin-right: -10px;
  padding-right: 20px;
}
.header-navigation__list_item:first-child > a {
  margin-left: 0px;
}
/*!!--------------------------------Promo---------------------------------------------*/
.promo {
  width: 100%;
  background-color: #030303;
  overflow: hidden;
  margin-top: 150px;
}
.promo-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 810px;
}

.promo-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
  position: absolute;
  z-index: 1;
}
.promo__headlink_white {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 150px;
}
.promo-content__headlink::after {
  content: "to the Louvre";
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}
.promo-content__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 75px;
}
.promo-content__headlink {
  max-width: 598px;
  margin-bottom: 25px;
}

.promo-content__button > button {
  background-color: #710707;
  max-width: 360px;
  max-height: 75px;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  justify-content: center;
}
.promo-slider {
  margin-left: 440px;
  position: relative;
  width: 100%;
  max-height: 810px;
  display: flex;
  justify-content: flex-end;
}
.promo-slider__oneline {
  position: absolute;
}
.promo-slider__img {
}
.promo-slider__img > img {
  object-fit: contain;
}
.promo-slider__buttons {
  align-self: flex-end;
  display: flex;
  z-index: 1;
  width: 600px;
  max-width: 600px;
  background-color: #030303;
  min-height: 120px;
  align-items: center;
  padding-left: 74px;
}
.promo-slider__count {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.current-checkBox {
  display: flex;
  column-gap: 25px;
  margin: 0px 60px 0px 55px;
  cursor: pointer;
}

.current__checked {
  width: 16px;
  height: 16px;
  background-color: white;
}
.checked {
  width: 16px;
  height: 16px;
  background-color: #9d8665;
}
.arrow__prew {
  background: url(./arrow_prev.svg) center no-repeat;
  width: 30px;
  height: 9px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.arrow__next {
  background: url(./arrow_next.svg) center no-repeat;
  width: 30px;
  height: 9px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.verticalLine {
  margin: 0px 10px 0px 10px;
}
@media (max-width: 1440px) {
  .promo-slider {
    margin-left: calc(20px + (440 - 20) * ((100vw - 480px) / (1440 - 480)));
  }
}
/*!!------------------------------------video----------------------------------*/
.video {
  width: 100%;
  overflow: hidden;
}
.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.video__headlink {
  display: flex;
  column-gap: 115px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 75px;
}

.video__paragraph {
  flex-wrap: 0 1 50%;
  max-width: 719px;
}
.video_textContent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  align-items: center;
  color: #000000;
}
.video-player-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
}
.video__player {
  max-width: 100%;
  background-color: #030303;
}
.video__player > video {
  max-width: 100%;
  flex: 1 0 100%;
  position: relative;
}
.video__playBig {
  max-width: 220px;
  max-height: 220px;
  width: 100%;
  height: 100%;
  background: url(./play_video_big.svg) no-repeat;
  background-position: 58% 50%;
  z-index: 1;
  position: absolute;
  top: 31%;
  right: 42%;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.video__controllPanel {
  display: flex;
  background: #030303;
  align-items: center;
  max-width: 100%;
  height: 75px;
}
.video__playSmall {
  background: url(./play_control.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 87px;
  height: 71px;
  border: none;
}
.video__sound {
  background: url(./sound.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 155px;
  height: 71px;
  border: none;
}
.sound__value {
  width: 172px;
  background: linear-gradient(to right, #911c1c, #a10a0a, #c70606, #f20202);
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.player__fullscreen {
  background: url(./full_screen.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 87px;
  height: 71px;
  border: none;
}
.video-list {
  display: flex;
  column-gap: 42px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  max-width: 100%;
}
.video-list__item > img {
  margin: 0px;
  max-width: 100%;
  flex: 1 0 auto;
}
.progressBar {
  width: 932px;
  background: linear-gradient(to right, #911c1c, #a10a0a, #c70606, #f20202);
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.video__pages {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  column-gap: 20px;
}
.prev {
  background: url(./Vector2.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.next {
  background: url(./vector1.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}
.video__pages > :nth-child(2) {
  background: url(./Ellipse_4.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}
.round {
  background: url(./Ellipse_5.svg);
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

/*!!-------------------Virtual Tour---------------------------------------------------*/
.virtual-tour__headlink_gold {
  color: #9d8665;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.virtual-tour__headlink {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}
.three-colums-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.three-columslayout__item {
  flex: 0 1 440px;
  margin-bottom: 15px;
}
.three-columslayout__item > a {
  text-decoration: none;
  color: inherit;
}
.tree-colums-layout-img {
  max-width: 100%;
}
.tree-colums-layout__headlink {
  margin: 25px 0px 10px 0px;
}
.tree-colums-layout__headlink_black {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}
.tree-colums-layout__row {
  background-color: #710707;
  width: 300px;
  border: 1.5px solid #710707;
  margin-bottom: 10px;
}
.three-columslayout__item:hover .tree-colums-layout__row {
  width: 100%;
  transition: all 0.2s linear;
}
.tree-layout-colum__google {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 75px;
}

.tree-layout-colum__360 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}
/*!-----------------------------------picture Explore------------------------------*/
.picture_explore {
  width: 100%;
  overflow: hidden;
  background-color: #030303;
}
.picture_explore__headlink {
  margin-top: 60px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
  order: 1;
  align-self: flex-end;
}
.picture_explore__headlink_white {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.picture-explore-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.picture_explore__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 25px;

  width: 99.9%;
}
.picture_explore__paragraph > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #9d8665;
}
.picture_explore__paragraph :not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.picture-explore__img > img {
  max-width: 100%;
  width: 720px;
  margin-top: 80px;
  margin-bottom: 75px;
  flex: 1 0 50%;
}
.picture-explore__img {
  flex: 1 0 50%;
}
.picture_explore_wrapper {
  display: flex;
  gap: 60px;
}
/*!------------------------------Art---Gallery-------------------------------*/
.art-gallery {
  width: 100%;
  background-color: #030303;
}

.img-container__left {
  flex: 1 0 33.333%;
  margin-top: 50px;
}
.img-container__left > img {
  max-width: 100%;
  margin-bottom: 24px;
}
.img-container__left > img:last-child {
  max-width: 100%;
  margin-bottom: 0px;
}

.flex-column-3-wrapper {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
}
.img-container__center :not(img:last-child) {
  margin-bottom: 24px;
}
.img-container__center > img:last-child {
  margin-bottom: 0px;
}
.img-container__center > img {
  margin: 0px 36px 24px 12px;
}
.img-container__right > :not(img:last-child) {
  margin-bottom: 24px;
}
.img-container__right > img:first-child {
  margin-top: 50px;
}
.art-gallery__headlinkPosition {
  padding-top: 75px;
}
.parallax1 {
  background: linear-gradient(to top black);
  width: 100%;
  height: 243px;
  z-index: 20;
}

/*!!----------------------------------buy-tictets----------------*/

.buy-tictets__headlink {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom-style: 3px solid#710707;
  margin-bottom: 75px;
}
.buy-tictets__headlink_gold {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}
.buy-tickets-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
.buy-tickets-content-img {
  max-width: 100%;
  flex: 1 0 auto;
  margin-right: 60px;
}

.buy-tickets-content-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.buy-tickets-content__headlink {
  margin-bottom: 50px;
}
.buy-tickets-content__headlink_black {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.buy-tickets-content__description {
  margin-left: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  display: inline-block;
  margin-bottom: 25px;
  cursor: pointer;
}
.buy-tickets-content-amount {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 230px;
}
.buy-tickets-content-amount__18 {
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 15px;
  margin-left: 25px;
}

.buy-tickets-content-amount__button {
  position: relative;
  display: flex;
}
.buy-tickets-content-amount__button > input {
  max-width: 150px;
  height: 50px;
  border: 3px solid black;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.plus {
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  border: none;
  position: absolute;
  top: 10%;
  padding: 0px;
  cursor: pointer;
}
.minus {
  cursor: pointer;
  position: absolute;
  right: 17%;
  top: 10%;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  border: none;
  padding: 0px;
}
.buy-tickets-content__headlinkAmount {
  margin-bottom: 25px;
}
.buy-tickets-content-amount__totalAmount {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  letter-spacing: 1.65px;

  color: #000000;
  margin-top: 40px;
  margin-bottom: 60px;
}
.buy-tickets-content-amount__buttonBuy {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #000000;
  width: 175px;
  height: 50px;
  justify-content: center;
}
.buy_tickets-1920px__image {
  width: 100%;
  overflow: hidden;
}

.buy_tickets-1920px__image > img {
  max-width: 100%;
  margin: auto;
}

/*!!-------------------------------------------------------contacts--------------------------*/

.contacts-wrapper__headlinlk {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}
.contacts-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
.contacts-content-wrapper__headlink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
  margin-bottom: 50px;
  max-width: 230px;
}
.contacts-content-wrapper__adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__telephone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__map {
  flex: 1 0 auto;
}
.contacts-content-wrapper__map > img {
  max-width: 100%;
}
.cotacts-content-wrapper__text a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 25px;
  display: inline-block;
}
.cotacts-content-wrapper__text {
  margin-right: 208px;
}

/*!----------------footer-------------------------------------------------------*/
.footer {
  width: 100%;
  background-color: #030303;
  overflow: hidden;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-navigation {
  display: flex;
  align-items: flex-start;
  margin-top: 84px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}
.footer-logo__ico {
  max-width: 100%;
  margin-right: 26px;
  flex-wrap: 1 0 100%;
}

.footer-navigation__ullist {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  column-gap: 172px;
  justify-content: start;
}

.footer-navigation__ullist > li {
  margin-bottom: 25px;
}

.footer-logo__text {
  margin-right: 140px;
}
.footer-navigation__ullist > li:nth-child(5) {
  margin-right: 22px;
  margin-bottom: 25px;
}

.footer-navigation__ullist > li:last-child {
  margin-bottom: 0px;
}

.footer-navigation__ullist > li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.footer-navigation-list {
  margin-right: 400px;
}
.footer-ico {
  display: flex;
  align-self: flex-end;
  gap: 25px;
  margin-bottom: 34px;
}
.youtube {
  background: url(./youtube.svg) center no-repeat;
}
.youtube:hover {
  background: url(./youtube_hover_activ.svg) center no-repeat;
  border: 1px solid #9d8665;
  cursor: pointer;
}

.inst {
  background: url(./isnt.svg) center no-repeat;
}
.inst:hover {
  background: url(./inst_hover_activ.svg) center no-repeat;
  border: 1px solid #9d8665;
  cursor: pointer;
}
.face {
  background: url(./facebook.svg) center no-repeat;
}
.face:hover {
  background: url(./face_hover_activ.svg) center no-repeat;
  cursor: pointer;
  border: 1px solid #9d8665;
}
.twit {
  background: url(./twiittwer.svg) center no-repeat;
}

.twit:hover {
  background: url(./twitter_hover_activ.svg) center no-repeat;
  cursor: pointer;
  border: 1px solid #9d8665;
}

.pp {
  background: url(./pp.svg) center no-repeat;
}
.pp:hover {
  background: url(./pp_hover_activ.svg) no-repeat center;
  cursor: pointer;
  border: 1px solid #9d8665;
}
.ico {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
/*!==------------------------------Footer_about_______________________*/

.footer-about {
  width: 100%;
  overflow: hidden;
  background: #030303;
}
.footer-about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 125px;
}

.footer-about_text > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.footer-about_text > a:hover {
  color: #9d8665;
}
.footer-about_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer__horizontalRow {
  color: #666666;
  height: 3px;
}
ul > li > a:hover {
  color: #9d8665;
}

/*!!-----------------------------------New Buy Tictet---------------------*/
.buy-now {
}
.new-ticket-buy {
}
._container {
}
.new-ticket-buy__booking {
}
.new-ticket-buy__textContent {
}
.new-ticket-buy__logo {
}
.new-ticket-buy__headlink {
}
.new-ticket-buy__headlink_gold {
}
.new-ticket-buy__sub {
}
.new-ticket-buy__sub_red {
}
.new-ticket-buy__form {
}
.new-ticket-buy__date {
}
.selectDate {
}
.date {
}
.new-ticket-buy__time {
}
.new-ticket-buy__name {
}
.name__img {
}
.name__text {
}
.new-ticket-buy__eMail {
}
.eMail__img {
}
.eMail__text {
}
.new-ticket-buy__number {
}
.number__img {
}
.number__text {
}
.new-ticket-buy__select {
}
.select__img {
}
.select__text {
}
.new-ticket-buy__enteryTicket {
}
.new-ticket-buy__enteryTicket_paragraph {
}
.new-ticket-buy__enteryTicketText {
}
.new-ticket-buy__enteryTicketText_paragraph18 {
}
.new-ticket-buy__enteryTicketText_paragraph18_black {
}
.new-ticket-buy__enteryTicket_input {
}
.new-ticket-buy__enteryTicket_input_item {
}
.minus_black {
}
.plus_black {
}
.new-ticket-buy__overview {
}
.new-ticket-buy__tour {
}
.new-ticket-buy__overview_title {
}
.new-ticket-buy__overview_subtitle_red {
}
.new-ticket-buy__overview_subtitle_description {
}
.new-ticket-buy__overview_subtitle_img {
}
.new-ticket-buy__overview_subtitle_dateImformation {
}
.new-ticket-buy__overview_subtitle_dateTimeImformation {
}
.new-ticket-buy__overview_subtitle_tictetTypeImformation {
}
.new-ticket-buy__overview_img {
}
.new-ticket-buy__overview_totalAmount {
}
.new-ticket-buy__overview_totalAmount_basic {
}
.new-ticket-buy__overview_totalAmount18 {
}
.new-ticket-buy__overview_totalAmoun__basic18 {
}
.new-ticket-buy__overview_totalAmoun__basic18_totalCost {
}
.new-ticket-buy__overview_totalAmount_senior {
}
.new-ticket-buy__overview_totalAmount65 {
}
.new-ticket-buy__overview_totalAmoun__senior65 {
}
.new-ticket-buy__overview_totalAmoun__senior65_totalCost {
}
.new-ticket-buy__overview_creditCard {
}
.new-ticket-buy__overview_titleBlack {
}
.new-ticket-buy__overview_creditCard_img {
}
.new-ticket-buy__overview_creditCard_img_face {
}
.new-ticket-buy__overview_creditCard_img_faceNumber {
}
.new-ticket-buy__overview_creditCard_img_faceNumber_text {
}
.new-ticket-buy__overview_creditCard_img_faceNumber_input {
}
.new-ticket-buy__overview_creditCard_img_faceNumber_expirationDate {
}
.expirationDate {
}
.inputMonth {
}
.inputYear {
}
.creditCard-type__img {
}
.new-ticket-buy__overview_creditCard_img_faceNumber_holder {
}
.holder_name {
}
.inputText {
}
.new-ticket-buy__overview_creditCard_CVC {
}
.new-ticket-buy__overview_creditCard_CVCTop {
}
.new-ticket-buy__overview_creditCard_CVCblackline {
}
.new-ticket-buy__overview_creditCard_CVCText {
}
.new-ticket-buy__overview_creditCard_CVCTextInformation {
}
.new-ticket-buy__overview_creditCard_CVC_CVV {
}
.new-ticket-buy__overview_creditCard_CVC_input {
}
.new-ticket-buy__overview_creditCard_CVC_description {
}
.new-ticket-buy__overview_button {
}
.red_square {
}
