*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
}
button {
  cursor: pointer;
}
/*!------------------------Overlay=========*/

/*!----------------------menuBurger--------------*/
@media (max-width: 1024px) {
  .header-navigation__list > li {
    flex: 0 0 100%;
    margin: 10px 0px 10px 0px;
  }
  .header-navigation__list > li:first-child {
    margin-left: 25px;
  }
  .menu__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu__ico {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  body._lock {
    overflow: hidden;
  }
  .menu__ico span,
  .menu__ico::before,
  .menu__ico::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__ico::before,
  .menu__ico::after {
    content: "";
  }
  .menu__ico::before {
    top: 0;
  }
  .menu__ico::after {
    bottom: 0;
  }
  .menu__ico span {
    top: 43%;
    transform: scale(1), translate(0px, -50%);
  }
  .menu__body.active {
    left: 0;
  }
  .menu__ico._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__ico._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__ico._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    transform: translate(-100%, 0px);
  }
  .menu__body._active {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    transform: translate(-100%, 0px);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    height: 100px;
    background-color: #8f1c2a;
    opacity: 0.9;
  }
  .header_navigation {
    margin: 0px 0px 30px 0px;
    flex: 0 0 100%;
  }
  .navigation > li:last-child {
    margin-bottom: 0;
  }
  .header-navigation-link {
    font-size: 20px;
  }
}
/*!----------------------popup---------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.801);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
}
.popup.open {
  visibility: visible;
  opacity: 1;
}
.popup__body {
  left: 0%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
  transform: translate(-100%, 0px);
}
.popup__body.open {
  left: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
  transform: translate(-100px, 0px);
}
.buy-now {
  background-color: #ffffff;
  max-width: 1440px;
}
body._lock {
  overflow: hidden;
}
/*!------------------------------wrapper-----------------*/
.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0px auto;
}
/*!----------------------------- header------------------*/

.header-wrapper {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: 50;
  min-height: 150px;
  background-color: #030303;
}
.header-content-wrapper {
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-logo_style {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-logo-ico > img {
  max-width: 100%;
  margin-right: 25px;
}
.logo {
  margin: 61px 460px 58px 0px;
}
.header-navigation__list {
  display: flex;
  flex-wrap: wrap;
}
.header-navigation__list_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header-navigation__list_item > a {
  color: #ffffff;
  text-decoration: none;
  margin: 27.5px;
}
.header-navigation__list_item:last-child > a {
  margin-right: -10px;
  padding-right: 20px;
}
.header-navigation__list_item:first-child > a {
  margin-left: 0px;
}
/*!!--------------------------------Promo---------------------------------------------*/
.promo {
  width: 100%;
  background-color: #030303;
  overflow: hidden;
  margin-top: 150px;
}
.promo-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: 810px;
}

.promo-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
  position: absolute;
  z-index: 1;
}
.promo__headlink_white {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 150px;
}
.promo-content__headlink::after {
  content: "to the Louvre";
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}
.promo-content__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 75px;
}
.promo-content__headlink {
  max-width: 598px;
  margin-bottom: 25px;
}
.promo-content__link {
  display: block;
  background-color: #710707;
  max-width: 360px;
  max-height: 75px;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  justify-content: center;
  text-decoration: none;
}
.promo__button_red {
  background-color: #710707;
  max-width: 360px;
  max-height: 75px;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  justify-content: center;
}
/*!===================Slider-Swiper=====================================================*/
.promo-slider {
  margin-left: -10px;
  position: absolute;
  width: 100%;
  max-height: 810px;
  display: flex;
  justify-content: flex-end;
}
.promo-slider__oneline {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: -572px;
  transform: translateX(31%);
}
.promo-slider__img {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
}
.visible,
.nextVisible {
  display: block;
  width: 100%;
  height: 100%;
}
.to__left {
  animation-name: left;
}
.to__right {
  animation-name: right;
  animation-direction: reverse;
}
.from__left {
  animation-name: left;
  animation-direction: reverse;
}
.from__right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.nextVisible {
  position: absolute;
  top: 0;
  width: 100%;
}
.promo-slider__img > img {
}
.promo-slider__buttons {
  align-self: flex-end;
  display: flex;
  z-index: 1;
  width: 600px;
  max-width: 600px;
  background-color: #030303;
  min-height: 120px;
  align-items: center;
  padding-left: 74px;
}
.promo-slider__count {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.current-checkBox {
  display: flex;
  column-gap: 25px;
  margin: 0px 60px 0px 55px;
  cursor: pointer;
}

.current__checked {
  width: 16px;
  height: 16px;
  background-color: white;
}
.checked {
  width: 16px;
  height: 16px;
  background-color: #9d8665;
}
.arrow__prew {
  background: url(./arrow_prev.svg) center no-repeat;
  width: 30px;
  height: 9px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.arrow__next {
  background: url(./arrow_next.svg) center no-repeat;
  width: 30px;
  height: 9px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.verticalLine {
  margin: 0px 10px 0px 10px;
}

/*!!------------------------------------video----------------------------------*/
.video {
  width: 100%;
  overflow: hidden;
}
.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.video__headlink {
  display: flex;
  column-gap: 115px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 75px;
  margin-bottom: 75px;
}

.video__paragraph {
  flex-wrap: 0 1 50%;
  max-width: 719px;
}
.video_textContent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  align-items: center;
  color: #000000;
}
.video-player-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
}
.video__player {
  max-width: 100%;
  background-color: #030303;
}
.video__player > video {
  max-width: 100%;
  flex: 1 0 100%;
  position: relative;
}
.video__playBig {
  max-width: 220px;
  max-height: 220px;
  width: 100%;
  height: 100%;
  background: url(./play_video_big.svg) no-repeat;
  background-position: 58% 50%;
  z-index: 1;
  position: absolute;
  top: 31%;
  right: 42%;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.video__controllPanel {
  display: flex;
  background: #030303;
  align-items: center;
  max-width: 100%;
  height: 75px;
}
.video__playSmall {
  background: url(./play_control.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 87px;
  height: 71px;
  border: none;
}
.video__sound {
  background: url(./sound.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 155px;
  height: 71px;
  border: none;
}
.sound__value {
  width: 172px;
  background: linear-gradient(to right, #911c1c, #a10a0a, #c70606, #f20202);
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.player__fullscreen {
  background: url(./full_screen.svg) center no-repeat;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  flex: 0 0 auto;
  background-color: #000000;
  width: 87px;
  height: 71px;
  border: none;
}
.video-list {
  display: flex;
  column-gap: 42px;
  margin-bottom: 40px;

  max-width: 100%;
  min-height: 255px;
}
.video-list__item {
  margin: 0px;
  flex: 0 0 31.33%;
}
.video_list__iframe {
  width: 100%;
  height: 100%;
}
.progressBar {
  width: 932px;
  background: linear-gradient(to right, #911c1c, #a10a0a, #c70606, #f20202);
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.video__pages {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  column-gap: 20px;
}
.prev {
  background: url(./Vector2.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

.next {
  background: url(./vector1.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}
.video__pages > :nth-child(2) {
  background: url(./Ellipse_4.svg) center no-repeat;
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}
.round {
  background: url(./Ellipse_5.svg);
  border: none;
  width: 10px;
  height: 12px;
  cursor: pointer;
}

/*!!-------------------Virtual Tour---------------------------------------------------*/
.virtual-tour__headlink_gold {
  color: #9d8665;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.virtual-tour__headlink {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}
.three-colums-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.three-columslayout__item {
  flex: 0 1 440px;
  margin-bottom: 15px;
}
.three-columslayout__item > a {
  text-decoration: none;
  color: inherit;
}
.tree-colums-layout-img {
  max-width: 100%;
}
.tree-colums-layout__headlink {
  margin: 25px 0px 10px 0px;
}
.tree-colums-layout__headlink_black {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}
.tree-colums-layout__row {
  background-color: #710707;
  width: 300px;
  border: 1.5px solid #710707;
  margin-bottom: 10px;
}
.three-columslayout__item:hover .tree-colums-layout__row {
  width: 100%;
  transition: all 0.2s linear;
}
.tree-layout-colum__google {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 75px;
}

.tree-layout-colum__360 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}
/*!-----------------------------------picture Explore------------------------------*/
.picture_explore {
  width: 100%;
  overflow: hidden;
  background-color: #030303;
}
.picture_explore__headlink {
  margin-top: 60px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
  order: 1;
  align-self: flex-end;
}
.picture_explore__headlink_white {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}
.picture-explore-content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-self: baseline;
  flex: 1 0 46%;
}

.picture_explore__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 25px;

  width: 99.9%;
}
.picture_explore__paragraph > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #9d8665;
}
.picture_explore__paragraph :not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.picture-explore__img {
  display: flex;
  position: relative;
  height: 700px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 75px;
}
.picture-explore__before {
  position: absolute;
  width: 50%;
  overflow: hidden;
  height: 700px;
  background: url(/assets/img/picture/after.jpg) left no-repeat;
}

.picture-explore__after {
  width: 100%;
  overflow: hidden;
  height: 700px;
}
.picture-explore__drag {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 100%;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}
.picture-explore__drag::before {
  content: "";
  position: absolute;
  top: calc(50%-15px);
  left: -14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
}

.picture_explore_wrapper {
  display: flex;
  gap: 56px;
}
/*!------------------------------Art---Gallery-------------------------------*/
.art-gallery {
  width: 100%;
  background-color: #030303;
}

.img-container__left {
  flex: 1 0 33.333%;
  margin-top: 50px;
}
.img-container__left > img {
  max-width: 100%;
  margin-bottom: 24px;
}
.img-container__left > img:last-child {
  max-width: 100%;
  margin-bottom: 0px;
}

.flex-column-3-wrapper {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
}

.img-container__center > img:last-child {
  margin-bottom: 0px;
}
.img-container__center > img {
  margin: 0px 36px 24px 12px;
}
.img-container__right > :not(.parallax3) {
  margin-bottom: 24px;
}

.img-container__right > img:first-child {
  margin-top: 50px;
}
.art-gallery__headlinkPosition {
  padding-top: 75px;
}
.parallax3 {
  margin-bottom: 0px;
}
.parallax3,
.parallax2,
.parallax1 {
  position: relative;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black 10%, transparent);
  z-index: 2;
}
/*!!----------------------------------buy-tictets----------------*/

.buy-tictets__headlink {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom-style: 3px solid#710707;
  margin-bottom: 75px;
}
.buy-tictets__headlink_gold {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9d8665;
}
.buy-tickets-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
.buy-tickets-content-img {
  max-width: 100%;
  flex: 1 0 auto;
  margin-right: 60px;
}

.buy-tickets-content-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.buy-tickets-content__headlink {
  margin-bottom: 50px;
}
.buy-tickets-content__headlink_black {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
}

.buy-tickets-content__description {
  margin-left: 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  display: inline-block;
  margin-bottom: 25px;
  cursor: pointer;
}
.buy-tickets-content-amount {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 230px;
}
.buy-tickets-content-amount__18 {
  align-self: flex-start;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 15px;
  margin-left: 25px;
}

.buy-tickets-content-amount__button {
  position: relative;
  display: flex;
}
.buy-tickets-content-amount__button > input {
  max-width: 150px;
  height: 50px;
  border: 3px solid black;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.plus {
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  border: none;
  position: absolute;
  left: 20px;
  top: 10%;
  padding: 0px;
  cursor: pointer;
}
.minus {
  cursor: pointer;
  position: absolute;
  right: 17%;
  top: 10%;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  border: none;
  padding: 0px;
}
.buy-tickets-content__headlinkAmount {
  margin-bottom: 25px;
}
.buy-tickets-content-amount__totalAmount {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  letter-spacing: 1.65px;

  color: #000000;
  margin-top: 40px;
  margin-bottom: 60px;
}
.buy-tickets-content-amount__buttonBuy {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #000000;
  width: 175px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}
.buy_tickets-1920px__image {
  max-width: 100%;
  overflow: hidden;
  height: 400px;
}

.parallax4 {
  max-width: 100%;
  height: 400px;
  background: url(/assets/img/buy_ticket/02.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*!!-------------------------------------------------------contacts--------------------------*/

.contacts-wrapper__headlinlk {
  margin-top: 75px;
  padding-bottom: 22px;
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}
.contacts-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 75px;
}
.contacts-content-wrapper__headlink {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;

  color: #000000;
  margin-bottom: 50px;
  max-width: 230px;
}
.contacts-content-wrapper__adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__telephone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.contacts-content-wrapper__map {
  flex: 1 0 auto;
}
.contacts-content-wrapper__map > img {
  max-width: 100%;
}
.cotacts-content-wrapper__text a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 25px;
  display: inline-block;
}
.cotacts-content-wrapper__text {
  margin-right: 208px;
}

/*!----------------footer-------------------------------------------------------*/
.footer {
  width: 100%;
  background-color: #030303;
  overflow: hidden;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-navigation {
  display: flex;
  align-items: flex-start;
  margin-top: 84px;
  margin-bottom: 8px;
  flex-wrap: wrap;
}
.footer-logo__ico {
  max-width: 100%;
  margin-right: 26px;
  flex-wrap: 1 0 100%;
}

.footer-navigation__ullist {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  column-gap: 172px;
  justify-content: start;
}

.footer-navigation__ullist > li {
  margin-bottom: 25px;
}

.footer-logo__text {
  margin-right: 140px;
}
.footer-navigation__ullist > li:nth-child(5) {
  margin-right: 22px;
  margin-bottom: 25px;
}

.footer-navigation__ullist > li:last-child {
  margin-bottom: 0px;
}

.footer-navigation__ullist > li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.footer-navigation-list {
  margin-right: 400px;
}
.footer-ico {
  display: flex;
  align-self: flex-end;
  gap: 25px;
  margin-bottom: 34px;
}
.youtube {
  background: url(./youtube.svg) center no-repeat;
}
.youtube:hover {
  background: url(./youtube_hover_activ.svg) center no-repeat;
  border: 1px solid #9d8665;
  cursor: pointer;
}

.inst {
  background: url(./isnt.svg) center no-repeat;
}
.inst:hover {
  background: url(./inst_hover_activ.svg) center no-repeat;
  border: 1px solid #9d8665;
  cursor: pointer;
}
.face {
  background: url(./facebook.svg) center no-repeat;
}
.face:hover {
  background: url(./face_hover_activ.svg) center no-repeat;
  cursor: pointer;
  border: 1px solid #9d8665;
}
.twit {
  background: url(./twiittwer.svg) center no-repeat;
}

.twit:hover {
  background: url(./twitter_hover_activ.svg) center no-repeat;
  cursor: pointer;
  border: 1px solid #9d8665;
}

.pp {
  background: url(./pp.svg) center no-repeat;
}
.pp:hover {
  background: url(./pp_hover_activ.svg) no-repeat center;
  cursor: pointer;
  border: 1px solid #9d8665;
}
.ico {
  border: 1px solid #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.footer-ico__link {
  display: block;
  width: 100%;
  height: 100%;
}
/*!==------------------------------Footer_about_______________________*/

.footer-about {
  width: 100%;
  overflow: hidden;
  background: #030303;
}
.footer-about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 125px;
}

.footer-about_text > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
}
.footer-about_text > a:hover {
  color: #9d8665;
}
.footer-about_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}
.footer__horizontalRow {
  color: #666666;
  height: 3px;
}
ul > li > a:hover {
  color: #9d8665;
}

/*!!-----------------------------------New Buy Tictet---------------------*/
.buy-now {
  width: 100%;
  overflow: hidden;
}
.new-ticket-buy {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 91px;
  margin-bottom: 91px;
  justify-content: center;
}

.new-ticket-buy__booking {
}
.new-ticket-buy__textContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.new-ticket-buy__logo {
  max-width: 100%;
  flex: 1 0 100%;
  object-fit: contain;
}
.new-ticket-buy__headlink {
  margin-bottom: 15px;
}
.new-ticket-buy__headlink_gold {
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
}
.new-ticket-buy__sub {
  border-bottom: 3px solid #710707;
  margin-bottom: 60px;
}
.new-ticket-buy__sub_red {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
  margin: 0px;
  padding-bottom: 10px;
}
.new-ticket-buy__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  row-gap: 20px;
}
.new-ticket-buy__date {
  max-width: 190px;
  max-height: 45px;
  position: relative;
  margin-right: 10px;
}

.selectDate {
  min-width: 190px;
  height: 45px;
  background: url(./date.svg) center no-repeat;
}
.new-ticket-buy__date .date {
  background: url(./arrowbuttom.svg) center no-repeat;
  width: 17px;
  height: 17px;
  border: none;
  position: absolute;
  top: 30%;
  right: 8%;
  z-index: 1;
}
.new-ticket-buy__time {
  max-width: 190px;
  max-height: 45px;
  margin-left: 10px;
  position: relative;
}
.new-ticket-buy__time > input {
  max-width: 190px;
  height: 45px;
  background: url(./time.svg) center no-repeat;
  text-align: center;
}
.time {
  position: absolute;
  background: url(./arrowbuttom.svg) no-repeat center;
  width: 17px;
  height: 17px;
  border: none;
  top: 30%;
  right: 8%;
}

.new-ticket-buy__nameInput {
  background: url(./name.svg) no-repeat center left 15px;
  text-align: center;
  width: 400px;
  height: 45px;
}

.new-ticket-buy__eMail {
}
.new-ticket-buy__eMail_Input {
  background: url(./email.svg) center left 15px no-repeat;
  width: 400px;
  height: 45px;
  text-align: center;
}
option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #030303;
}
option::selection {
  background-color: #710707;
}
.new-ticket-buy__number {
}
.new-ticket-buy__number_input {
  background: url(./phone.svg) no-repeat center left 15px;
  width: 400px;
  height: 45px;
  text-align: center;
}
.new-ticket-buy__select {
  position: relative;
}
.new-ticket-buy__select_select {
  background: url(./Ticket_type.svg);
  width: 400px;
  height: 45px;
}
.select__button {
  position: absolute;
  background: url(./arrowbuttom.svg) no-repeat center;
  width: 17px;
  height: 17px;
  border: none;
  top: 32%;
  right: 3%;
}

.new-ticket-buy__enteryTicket {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 14px;
  border: 1px solid #030303;
  min-height: 145px;
}
.new-ticket-buy__enteryTicket_headlink {
  width: 100%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #9d8665;
  margin: 10px 0px 15px 0px;
  border-bottom: 2px solid #710707;
  padding-bottom: 4px;
}
.new-ticket-buy__enteryTicketText {
}
.new-ticket-buy__enteryTicketText_paragraph18 {
  margin-right: 127px;
  margin-top: 3px;
}
.new-ticket-buy__enteryTicketText_paragraph18_black {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  margin-bottom: 22px;
}

.new-ticket-buy__enteryTicket_input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 105px;
}
.new-ticket-buy__enteryTicket_input_item {
  width: 105px;
  height: 25px;
}
.new-ticket-buy__enteryTicket_input_item > input {
  width: 105px;
  height: 25px;
}
.new-ticket-buy__enteryTicket_input_item > input:first-child {
  width: 35px;
  height: 25px;
  margin-bottom: 18px;
}
.minus_black {
  position: absolute;
  width: 35px;
  height: 25px;
  color: #ffffff;
  background: #030303;
  border: none;
  font-size: 18px;
}
.count_tickets {
  text-align: center;
}
.plus_black {
  position: absolute;
  width: 35px;
  height: 25px;
  color: #ffffff;
  background: #030303;
  border: none;
  font-size: 18px;
  right: 0px;
}
.new-ticket-buy__enteryTicket_input:last-child {
  margin-bottom: 15px;
}
.new-ticket-buy__overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 24px 14px 26px 30px;
  border: 1px solid #030303;
  max-width: 534px;
}
.new-ticket-buy__tour {
  display: flex;
  flex-wrap: wrap;
  column-gap: 123px;
  margin-bottom: 18px;
}
.new-ticket-buy__overview_title {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #272727;
  margin-bottom: 4px;
}
.new-ticket-buy__overview_subtitle_red {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  margin-bottom: 10px;
}
.new-ticket-buy__tour img {
  display: inline-block;
  margin-right: 15px;
}
.new-ticket-buy__overview_subtitle_description {
  margin-bottom: 3px;
}

.new-ticket-buy__overview_subtitle_img {
  width: 100%;
}
.new-ticket-buy__overview_subtitle_dateImformation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}
.new-ticket-buy__overview_subtitle_dateTimeImformation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.new-ticket-buy__overview_subtitle_tictetTypeImformation {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.new-ticket-buy__overview_img {
}
.new-ticket-buy__overview_totalAmount {
  display: flex;
  flex-wrap: wrap;
}
.new-ticket-buy__overview_totalAmount_basic {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}
.new-ticket-buy__overview_totalAmount18 {
  width: 32px;
  height: 20px;
  background-color: #030303;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a4a4a3;
  text-align: center;
  border-radius: 7px;
  margin-right: 10px;
}
.new-ticket-buy__overview_totalAmoun__basic18 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
  margin-right: 265px;
}
.new-ticket-buy__overview_totalAmoun__basic18_totalCost {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}
.new-ticket-buy__overview_totalAmount_senior {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #710707;
  padding-bottom: 10px;
}
.new-ticket-buy__overview_totalAmount65 {
  width: 32px;
  height: 20px;
  background-color: #030303;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a4a4a3;
  text-align: center;
  border-radius: 7px;
  margin-right: 10px;
}
.new-ticket-buy__overview_totalAmoun__senior65 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
  margin-right: 257px;
}
.new-ticket-buy__overview_totalAmoun__senior65_totalCost {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}
.new-ticket-buy__overview_creditCard {
  margin: 12px 0px;
  position: relative;
}
.new-ticket-buy__overview_title {
  display: flex;
  column-gap: 331px;
}
.new-ticket-buy__overview_titleBlack {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #030303;
}
.new-ticket-buy__overview_totalAmount {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;

  color: #030303;
}
.new-ticket-buy__overview_creditCard_img {
  margin-top: 10px;
}
.new-ticket-buy__overview_creditCard_img_face {
  background-color: #bcbcbc;
  padding: 10px 21px;
  max-width: 360px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  margin-bottom: -179px;
}
.new-ticket-buy__overview_creditCard_img_faceNumber {
}
.new-ticket-buy__overview_creditCard_img_faceNumber_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}
.new-ticket-buy__overview_creditCard_img_faceNumber_input > input {
  width: 215px;
  height: 35px;
  margin-bottom: 10px;
}
.new-ticket-buy__overview_creditCard_img_faceNumber_expirationDate {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.expirationDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  flex: 0 0 100%;
}
.inputMonth > input {
  max-width: 100px;
  height: 35px;
  margin-right: 15px;
}
.inputYear > input {
  max-width: 100px;
  height: 35px;
}
.creditCard-type__img {
  margin-left: 48px;
  margin-top: 24px;
  margin-bottom: -20px;
}
.creditCard-type__img :first-child {
  padding-bottom: 20px;
}
.new-ticket-buy__overview_creditCard_img_faceNumber_holder {
}
.holder_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
  margin-top: 6px;
}
.inputText > input {
  width: 320px;
  height: 35px;
}
.new-ticket-buy__overview_creditCard_CVC {
  z-index: 0;
  background-color: #939393;
  max-width: 360px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 111px;
}

.new-ticket-buy__overview_creditCard_CVCblackline {
  flex: 0 0 100%;
  height: 45px;
  background-color: #161615;
  margin-top: 25px;
  margin-bottom: 15px;
}
.new-ticket-buy__overview_creditCard_CVCText {
  width: 75px;
  margin-right: 20px;
}
.new-ticket-buy__overview_creditCard_CVCTextInformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 119px;
}
.new-ticket-buy__overview_creditCard_CVC_CVV {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}
.new-ticket-buy__overview_creditCard_CVC_input > input {
  width: 75px;
  height: 35px;
}
.new-ticket-buy__overview_creditCard_CVC_input {
}
.new-ticket-buy__overview_creditCard_CVC_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #161615;
  width: 47px;
}
.new-ticket-buy__overview_button {
  max-width: 220px;
  max-height: 45px;
  margin-top: 17px;
  margin-right: 17px;
  align-self: flex-end;
}
.red_square {
  background-color: #710707;
  opacity: 0.9;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;

  color: #ffffff;
  width: 220px;
  height: 45px;
}
