.artistQuiz-page {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  max-width: 100%;
  width: 100%;
  background: linear-gradient(to bottom, white, grey);
  animation: 0.5s ease-in-out 0.1s;
  box-sizing: content-box;
  overflow-y: auto;
  height: 100vh;
}

.artistQuiz-page.hidden {
  transform: translate(-100%);
}
.artistQuiz-page.show {
  transform: translate(0%);
}

.artistQuiz-page__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.artistQuiz-header {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.artistQuiz-header__wrapper {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistQuiz-header__logo {
  background: url(../assets/logo.svg) center no-repeat;
  background-size: contain;
  width: 100%;
  height: 130px;
}

.categorie-artistQuiz__wrapper {
  display: flex;
  justify-content: space-around;
}

.artistQuiz-main {
  padding: 10px;
  max-height: 1800px;
  position: relative;
  height: 1800px;
}
.artistQuiz-main__cardsContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  padding-right: 15px;
  justify-content: center;
  animation: 0.5s ease-in-out 0.1s;
  height: 100%;
}
.artistQuiz-main__card {
  flex: 0 0 31%;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.artistQuiz-main__card > img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 20% 0 20% 0;
  position: relative;
  z-index: 1;
}

.artistQuiz-main__card {
  filter: grayscale(1);
  transition: all 0.2s ease-in-out;
}
.artistQuiz-main__card:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.artistQuiz-main__card.played {
  filter: grayscale(0);
}

.categorie-artistQuiz__description {
  color: $cherry;
  font-size: 1.3rem;
}

.categorie-artistQuiz__homeButton {
  @include button;
  position: relative;
  text-align: right;
}
.categorie-artistQuiz__homeButton:hover {
  box-shadow: $buttonShadow;
  transform: scale(1.01);
}

.categorie-artistQuiz__homeButton:active {
  background-color: $activeGreen;
}

.categorie-artistQuiz__homeButton::before {
  content: "";
  background: url(../assets/home.svg) no-repeat;
  position: absolute;
  left: 10%;
  top: 5%;
  width: 40px;
  height: 40px;
}

.artistQuiz__card_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  color: $cherry;
  font-size: 1rem;
}
.artisquiz-footer > a {
  display: block;
}

.artisquiz-footer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

a > img {
  width: 100px;
  height: 50px;
}

.authorName {
  color: $cherry;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.authorName:hover {
  color: $activeGreen;
  transform: scale(1.1);
}

.authorName:visited {
  color: $gold;
}

.footer__rsLogo {
  transition: all 0.2s ease-in-out;
}
.footer__rsLogo:hover {
  transform: scale(1.1);
}
.artistQuiz-page.to-left {
  animation-name: left;
  animation-direction: reverse;
}
.artistQuiz-page.from-left {
  animation-name: left;
}

@keyframes left {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
.artistQuiz-main__cardsContainer.hiddenBottom {
  transform: translate(0, 113%);
}

.artistQuiz-main__cardsContainer.showFromBottom {
  transform: translate(0, 0);
}

.from-bottom {
  animation-name: bottom;
}

.to-bottom {
  animation-name: bottom;
  animation-direction: reverse;
}

@keyframes bottom {
  from {
    transform: translate(0, 113%);
  }
  to {
    transform: translate(0, 0);
  }
}
.artistQuiz-main__score {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  background-color: $cherry;
  border-radius: 0 0 38% 0;
  transform: translate(0, 102%);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 10;
}

.artistQuiz-main__card:hover .artistQuiz-main__score {
  transform: translate(0, 0);
}

.artistQuiz-main__totalScore {
  font-size: 1.2rem;
  color: $cherry;
}

@media (max-width: 1054px) {
  .artistQuiz-main__cardsContainer {
    gap: 13px;
  }
}

@media (max-width: 1025px) {
  .artistQuiz-page {
    height: 161vh;
  }
  .artistQuiz-main {
    height: 1455px;
  }
}

@media (max-width: 769px) {
  .artistQuiz-main {
    height: 1150px;
  }
  .artistQuiz-page {
    height: 152vh;
  }
}

@media (max-width: 376px) {
  .artistQuiz-main__card {
    flex: 0 0 47%;
  }
  .artistQuiz-main {
    height: 1330px;
  }
  .artistQuiz-page {
    height: 200vh;
  }
}
