.artistQuizQuestions-container {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  width: 100%;
  background: linear-gradient(to bottom, white, grey);
  animation: 0.5s ease-in-out 0.1s;
  box-sizing: content-box;
  overflow: hidden;
}
.artistQuizQuestions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}
.artistQuizQuestions-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}

.artistQuizQuestions-header__categoriseButton {
  @include button;
  position: relative;
  text-align: right;
}

.artistQuizQuestions-header__categoriseButton::after {
  content: "";
  position: absolute;
  background: url(../assets/categories.svg) no-repeat;
  left: 4%;
  top: 25%;
  width: 40px;
  height: 40px;
}

.artistQuizQuestions-header__categoriseButton:hover {
  box-shadow: $buttonShadow;
  transform: scale(1.01);
}

.artistQuizQuestions-header__question {
  color: $cherry;
  font-size: 1.5rem;
}

.artistQuizQuestions-header__timer {
  color: $cherry;
  font-size: 1.1rem;
  width: 100px;
}

.artistQuizQuestions-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  animation: 1s ease;
}

.from-right {
  animation-name: right;
}

.to-left {
  animation-name: left;
  animation-direction: reverse;
}
@keyframes left {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes right {
  from {
    transform: translate(100%);
  }
  90% {
    transform: translate(-2%);
  }
  to {
    transform: translate(0);
  }
}

.artistQuizQuestions-mainContainer__imgContainer {
  display: flex;
  justify-content: center;
  opacity: 1;
  animation: 0.5s ease;
  max-width: 600px;
  width: 600px;
}

.artistQuizQuestions-mainContainer__imgContainer > img {
  border-radius: 20% 0 20% 0;
  box-shadow: 0px 0px 50px black;
  max-width: 600px;
  width: 100%;
}

.artistQuizQuestions-mainContainer__answersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  animation: 0.5s ease 0.1s;
}

.artistQuizQuestions-mainContainer__answer {
  flex: 0 0 40%;
  text-align: center;
  color: $cherry;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s ease 0.1s;
  border-radius: 20%;
}

.artistQuizQuestions-mainContainer__answer:nth-child(n) {
  border-bottom: 2px solid $cherry;
}

.artistQuizQuestions-mainContainer__answer:hover {
  box-shadow: 5px 5px 10px black;
  transform: scale(1.01);
  border-bottom: 2px solid transparent;
}

.artistQuizQuestions-mainContainer__answer:active {
  background-color: $activeGreen;
}

.artistQuizQuestions-container.hidden {
  transform: translate(-100%);
}
.artistQuizQuestions-container.show {
  transform: translate(0%);
}

.artistQuizQuestions-mainContainer__bullets {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
  width: 55%;
  transition: width 0.2s ease;
  margin-top: 20px;
}

.answerBullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $cherry;
  transition: all 0.5s ease;
}

.answerBullet.active {
  transform: scale(1.3);
  box-shadow: 0 0 5px $cherry;
}
.answerBullet.rightAnswer {
  transform: scale(0.9);
  border: 1px solid $activeGreen;
  box-shadow: 0 0 10px $activeGreen;
  background-color: $activeGreen;
}

.answerBullet.wrongAnswer {
  transform: scale(0.9);
  border: 1px solid $cherry;
  box-shadow: 0 0 10px $cherry;
  background-color: $cherry;
}

.invisible {
  animation-name: changeOpasity;
}
.visible {
  animation-name: changeOpasity;
  animation-direction: reverse;
}
@keyframes changeOpasity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1025px) {
  .artistQuizQuestions-wrapper {
    justify-content: stretch;
  }
}

@media (max-width: 769px) {
  .artistQuizQuestions-wrapper {
    justify-content: flex-start;
  }
}

@media (max-width: 376px) {
  .artistQuizQuestions-mainContainer__imgContainer {
    width: 100%;
  }
  .artistQuizQuestions-wrapper {
    justify-content: space-between;
  }
  .artistQuizQuestions-header__categoriseButton,
  .categorie-artistQuiz__homeButton {
    width: 90px;
  }
  .artistQuizQuestions-header__wrapper {
    padding: 5px 5px;
  }
  .artistQuizQuestions-header__question {
    font-size: 1.2rem;
  }
  .artistQuizQuestions-header__categoriseButton::after {
    left: 20%;
  }
}

.correctAnswer {
  background-color: $activeGreen;
}

.wrongAnswer {
  background-color: red;
}
