.header-audio-player__songInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  animation: 0.5s ease-in-out forwards;
}

.linearGradient {
  position: absolute;
  max-width: 300px;
  width: 0%;
  background-color: tomato;
  z-index: 2;
  height: 5px;
  border-radius: 10px;
  top: 85%;
  left: 0;
  animation: 0.5s ease-in-out forwards;
}

.progressBar {
  width: 300px;
  height: 5px;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  animation: 0.5s ease-in-out forwards;
}
.duration {
  width: 320px;
  animation: 0.5s ease-in-out forwards;
}
.header-audio-player__songName {
  min-height: 30px;
  animation: 0.5s ease-in-out forwards;
}
.sound {
  min-width: 30px;
  min-height: 30px;
  background: url(../assets/sound.svg) center no-repeat;
  background-size: 100%;
  border: none;
  animation: 0.5s ease-in-out forwards;
  cursor: pointer;
}
.mute {
  min-width: 30px;
  min-height: 30px;
  background: url(../assets/mute.svg) center no-repeat;
  background-size: 100%;
  border: none;
  animation: change 0.2s ease-in;
  cursor: pointer;
}
@keyframes change {
  from {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.89);
  }
  to {
    transform: scale(1);
  }
}

.soundBar {
  cursor: pointer;
  animation: 0.5s ease-in-out forwards;
}
.currentMinute,
.currentSecond {
  min-width: 26px;
  display: inline-block;
}
.invisible {
  animation-name: changeOpasity;
}
.visible {
  animation-name: changeOpasity;
  animation-direction: reverse;
}
@keyframes changeOpasity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
