._container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 50%;
  max-height: 75%;
}

.current-time {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  animation: 0.5s ease-in-out forwards;
}

.current-date {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  animation: 0.5s ease-in-out forwards;
}
.greetings {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  animation: 0.5s ease-in-out forwards;
}
.current-date__date {
  margin-left: 10px;
}
.current-date__month {
  margin-left: 10px;
}
.name {
  margin: 10px;
  width: 25%;

  font-size: 4rem;
  text-align: center;
  color: rgba($color: rgba(255, 255, 255, 0.59), $alpha: 0.4);
  border: 0;
  border-bottom: 1px solid #eee;
  color: #eee;
  background-color: transparent;
}
.name:focus {
  border-color: transparent;
  border-bottom: 1px solid #eee;
  box-shadow: inset 0 0 10px white;
  border-radius: 10px;
  color: #eee;
  text-align: left;
}
.current-time__seconds {
  width: 10%;
}
@media (max-width: 1475px) {
  .name {
    padding: 5px;
    font-size: 3.5rem;
  }
}
@media (max-width: 1200px) {
  .name {
    font-size: 3rem;
    padding: 5px;
    min-width: 300px;
  }
}
.slide_prev,
.slide_next {
  background-color: transparent;
  border-color: transparent;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.slide_prev {
  background: url(../assets/slider_prev.svg) center no-repeat;
  background-size: cover;
  left: 2%;
}
.slide_next {
  background: url(../assets/slider_next.svg) center no-repeat;
  background-size: cover;
  right: 2%;
}

.slide_prev:active,
.slide_next:active {
  transform: scale(0.95);
}
.invisible {
  animation-name: changeOpasity;
  z-index: -1;
}
.visible {
  animation-name: changeOpasity;
  animation-direction: reverse;
}
@keyframes changeOpasity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 1100px) {
  .greetings {
    flex-wrap: wrap;
  }
  .current-time {
    font-size: 9rem;
  }
}

@media (max-width: 900px) {
  .current-time {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .current-time {
    font-size: 7rem;
  }
  .greetings {
    font-size: 5rem;
  }
  .current-date {
    font-size: 3rem;
  }
}

@media (max-width: 590px) {
  ._container {
    row-gap: 0;
    height: 32%;
    margin-top: 180px;
  }
  .current-time {
    font-size: 4rem;
  }
  .greetings {
    font-size: 4rem;
  }
}

@media (max-width: 376px) {
  body {
    overflow-y: auto;
  }
  .slide_next,
  .slide_prev {
    display: none;
  }
  ._container {
    margin-top: 250px;
    height: 60%;
  }
  .greetings {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  ._container {
    margin-top: 348px;
    height: 55%;
  }
  .greetings {
    font-size: 2.7rem;
  }
}
