.footer {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}
.footer-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer-settings {
  background-color: $cherry;
  display: flex;
  max-width: 150px;
  max-height: 50px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 1s ease;
}
.footer-settings:hover {
  box-shadow: 0px 0px 10px black;
  transform: scale(1.01);
}

.footer-settings:active {
  background-color: $activeGreen;
  transform: scale(0.89);
}

.footer-settings__text {
  align-self: center;
}
.footer-settings__text_white {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  text-transform: uppercase;
}

.footer-settings__img > img {
  width: 100%;
  height: 100%;
}
.footer-settings__img {
  transition: all 1s ease;
  transform: rotate(0deg);
}
.footer-settings:hover .footer-settings__img {
  transform: rotate(180deg);
}

.footer__rsLogo {
  background: url(../assets/rs.svg) center no-repeat;
  width: 80px;
  height: 30px;
}
