@import "~normalize.css";
@import "./global.scss";
@import "./news.scss";
@import "./sources.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__ico {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  align-self: flex-start;
}
body._lock {
  overflow: hidden;
}
.menu__ico span,
.menu__ico::before,
.menu__ico::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: white;
}
.menu__ico::before,
.menu__ico::after {
  content: "";
}
.menu__ico::before {
  top: 0;
}

.menu__ico::after {
  bottom: 0;
}
.menu__ico span {
  top: 43%;
  transform: scale(1), translate(0px, -50%);
}
.menu__body.active {
  left: 0;
}
.menu__ico._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu__ico._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu__ico._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.menu__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 95%;
  background-color: black;

  padding: 45px 0 0 0;
  transition: left 0.3s ease 0s;
  display: flex;
  flex-wrap: wrap;

  transform: translate(-100%, 0px);
}
.menu__body._active {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 96%;
  background-color: black;
  z-index: 2;
  padding: 45px 0 0 0;
  transition: left 0.3s ease 0s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  transform: translate(-100%, 0px);
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  height: 50px;
  background-color: #70d6ff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  padding: 5px;
}
.author_name {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: all 0.5s ease;
}

.author_name:hover {
  color: #70d6ff;
}

.author_name:visited {
  color: #69db7e;
}

.rs__logo {
  width: 85px;
  height: 50px;
}
.rs__logo img {
  transition: all 0.5s ease;
}

.rs__logo:hover img {
  transform: scale(1.1);
}
