.pictureDescriptionPage {
  background-color: rgba($color: white, $alpha: 0.7);
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s ease;
  border-radius: 10%;
  padding: 10px;
}

.pictureDescriptionPage.hidden {
  transform: translate(300%);
}
.pictureDescriptionPage.show {
  transform: translate(0);
}

.pictureDescriptionPage.from-right {
  animation-name: right;
}

.pictureDescriptionPage.to-left {
  animation-name: pictureDescriptionleft;
  animation-direction: reverse;
}
@keyframes pictureDescriptionleft {
  from {
    transform: translate(300%);
  }
  to {
    transform: translate(0%);
  }
}
@keyframes right {
  from {
    transform: translate(300%);
  }
  90% {
    transform: translate(-2%);
  }
  to {
    transform: translate(0);
  }
}

.pictureDescriptionPage-wrapper {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pictureDescriptionPage-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pictureDescriptionPage-header__image {
  width: 40px;
  height: 40px;
}

.pictureDescriptionPage-header__image.correct {
  background: url(../assets/correct.png) center no-repeat;
  background-size: contain;
}

.pictureDescriptionPage-header__image.wrong {
  background: url(../assets/wrong.png) center no-repeat;
  background-size: contain;
}

.pictureDescriptionPage-main__descriptionContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pictureDescriptionPage-main__text {
  display: flex;
  flex-wrap: wrap;
}

.pictureDescriptionPage-main__description {
  flex: 0 0 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: black;
}

.pictureDescriptionPage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pictureDescriptionPage-main__descriptionContainer > img {
  border-radius: 20% 0 20% 0;
}

@media (max-width: 1025px) {
  .pictureDescriptionPage {
    top: 1%;
  }
}

@media (max-width: 376px) {
  .pictureDescriptionPage-main__descriptionContainer,
  .pictureDescriptionPage-main__descriptionContainer > img {
    width: 100%;
  }
  .pictureDescriptionPage {
    top: 12%;
  }
}
