.score-page {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  max-width: 100%;
  width: 100%;
  background: linear-gradient(to bottom, white, grey);
  animation: 0.5s ease-in-out 0.1s;
  box-sizing: content-box;
  overflow-y: auto;
  height: 100vh;
}

.score-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.score-page.hidden {
  transform: translate(-100%);
}
.score-page.show {
  transform: translate(0%);
}

.score-main {
  padding: 10px;
  max-height: 1800px;
  position: relative;
  height: 1700px;
}

.score-main__cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  animation: 0.5s ease-in-out 0.1s;
  position: absolute;
  overflow: hidden;
}

.score-page.to-left {
  animation-name: left;
  animation-direction: reverse;
}
.score-page.from-left {
  animation-name: left;
}

@keyframes left {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
.score-main__cardsContainer.hiddenBottom {
  transform: translate(0, 113%);
}

.score-main__cardsContainer.showFromBottom {
  transform: translate(0, 0);
}

.from-bottom {
  animation-name: bottom;
}

.to-bottom {
  animation-name: bottom;
  animation-direction: reverse;
}

@keyframes bottom {
  from {
    transform: translate(0, 113%);
  }
  to {
    transform: translate(0, 0);
  }
}

@media (max-width: 1025px) {
  .score-page {
    height: 157vh;
  }
}

@media (max-width: 769px) {
  .score-main {
    height: 1120px;
  }
  .score-page {
    height: 148vh;
  }
}
