.settings {
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  left: 2%;
  bottom: 2%;
  background: url(../assets/codewheel.svg) center no-repeat;
  background-size: cover;
}
.settings::after {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: -100%;
}
.settings:hover {
  animation: rotate 0.5s ease-in-out 1;
  cursor: pointer;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}
.settings:active {
  animation: scale 0.2s ease-in-out;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.89);
  }
  to {
    transform: scale(1);
  }
}
.settings-container-wrapper {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  transition: all 0.3s ease-in-out;
  transform: translate(-100%, 0);
  overflow-y: auto;
}
.settings-container-wrapper.toggle {
  left: 0;
  transform: translate(0);
  z-index: 1000;
}
.settings-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.on {
  flex: 0 0 23%;
  border-radius: 10px;
}
.off {
  flex: 0 0 23%;
  border-radius: 10px;
}
.settings-container__description {
  flex: 1 0 50%;
}
.on:hover {
  color: tomato;
  cursor: pointer;
}
.off:hover {
  color: tomato;
  cursor: pointer;
}
.en {
  flex: 0 0 23%;
  border-radius: 10px;
}
.ru {
  flex: 0 0 23%;
  border-radius: 10px;
}

.en:hover,
.ru:hover {
  color: tomato;
  cursor: pointer;
}
.active {
  color: tomato;
}

.turnOn {
  color: goldenrod;
}
.turnOff {
  transform: scale(0.8);
  background-color: darkgrey;
}
#source {
  border-radius: 10px;
  outline: none;
}
.settings-container__pisctureAPI {
  display: flex;
  flex-wrap: wrap;
}

.sourceContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
}
.sourceButton {
  border-radius: 10px;
}

.sourceButton:hover {
  cursor: pointer;
  color: tomato;
}
