.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom, white, grey);
  animation: 0.5s ease-in-out;
  box-sizing: content-box;
}

.settings.hidden {
  transform: translate(-100%);
}
.settings.show {
  transform: translate(0%);
}
.settings-header__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.settings-header__description {
  font-size: 1.3rem;
  color: $cherry;
}
.settings-main {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.from-left {
  animation-name: left;
}
.to-left {
  animation-name: left;
  animation-direction: reverse;
}
@keyframes left {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0%);
  }
}
.settings-header__logo {
  width: 100px;
  height: 65px;
  background: url(../assets/logo.svg) center no-repeat;
  background-size: contain;
}
.settings-main__volume,
.settings-main__Timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  min-height: 150px;
}

.settings-footer {
  display: flex;
  column-gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.settings-footer__cherryButton {
  @include button;
}

.settings-footer__cherryButton:active {
  background-color: $activeGreen;
}
.settings-footer__cherryButton:hover {
  box-shadow: $buttonShadow;
  transform: scale(1.01);
}
.volume,
.mute {
  min-width: 70px;
  min-height: 50px;
}
.volume {
  background: url(../assets/volume-on.svg);
}
.settings-clock {
  min-width: 70px;
  min-height: 70px;
  background: url(../assets/timer-picture.svg);
}
.volume,
.mute,
.volume-small,
.mute-small,
.settings-clock {
  background-color: transparent;
  border-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.volume-small,
.mute-small {
  min-width: 14px;
  min-height: 20px;
}

.volume:hover,
.mute:hover,
.volume-small:hover,
.mute-small:hover,
.settings-clock:hover,
.volume-small:hover,
.mute-small:hover {
  transform: scale(1.05);
}
.mute-small {
  background: url(../assets/volume-off.svg) center no-repeat;
  background-size: contain;
  transition: background 0.3s ease;
}
.volume-small {
  background: url(../assets/volume-on.svg) center no-repeat;
  background-size: contain;
}
.volume:active,
.volume-small:active,
.settings-clock:active {
  transform: scale(0.95);
}
.settings-main__VolumeDescription_cherryCappytalize,
.settings-main__TimerDescription_cherryCappytalize {
  color: $cherry;
  text-transform: capitalize;
  font-size: 2rem;
}
.settings-main__checkBoxDescription_cherrySmall {
  color: $cherry;
  text-align: center;
}
.settings-main__ClockContainer {
  display: flex;
  justify-content: center;
}
.settings-main__volumeButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.mute {
  background: url(../assets/volume-off.svg) center no-repeat;
  background-size: contain;
  transition: background 0.3s ease;
}
.settings-main__checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settigs-main__amount {
  outline: none;
  text-align: center;
}

.settings-main__timerAmountContainer {
  animation: 0.5s ease-in-out forwards;
  display: flex;
  justify-content: center;
}

.invisible {
  animation-name: changeOpasity;
}
.visible {
  animation-name: changeOpasity;
  animation-direction: reverse;
}
@keyframes changeOpasity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .settings {
    justify-content: flex-start;
  }
  .settings-header {
    margin-top: 200px;
  }
}
